
body{
    font-family: 'Familjen Grotesk', sans-serif;
font-size: 14pt;
background-color: bisque;
}
h1 {
    font-family: monospace;
    font-size: 80pt;
    margin: 0%;
}
/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
  background-color: #111;
}
/* changes color of active tab */
.active {
  background-color: #04AA6D;
}
#container { margin: 3%;
    width: 750px;
    height: 400px;
    display: inline-block;
}
.bio {
word-wrap: break-word;
}
/* cover image of me */
img { margin: 5%;
    width: 450px; height: 600px;
    object-fit: cover;
    border: #111 solid;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

